# Cert-manager ClusterIssuer for Let's Encrypt
# Install cert-manager first: https://cert-manager.io/docs/installation/
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: binhnt@mindx.com.vn
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
    - http01:
        ingress:
          class: nginx

